[submodule "bin"]
	path = bin
	url = https://github.com/koobh/QtBin
[submodule "lib/KSpectrogram"]
	path = lib/KSpectrogram
	url = https://github.com/koobh/KSpectrogram
[submodule "lib/Audio-Recorder"]
	path = lib/Audio-Recorder
	url = https://github.com/koobh/Audio-Recorder
[submodule "lib/WAV"]
	path = lib/WAV
	url = https://github.com/koobh/WAV
[submodule "lib/RtAudioWrapper"]
	path = lib/RtAudioWrapper
	url = https://github.com/koobh/RtAudioWrapper
[submodule "lib/STFT"]
	path = lib/STFT
	url = https://github.com/koobh/STFT
[submodule "algorithm/MLDR"]
	path = algorithm/MLDR
	url = https://github.com/koobh/MLDR
[submodule "algorithm/MAEC"]
	path = algorithm/MAEC
	url = https://github.com/koobh/MAEC
[submodule "lib/jsonConfig"]
	path = lib/jsonConfig
	url = https://github.com/koobh/jsonConfig
[submodule "lib/align"]
	path = lib/align
	url = https://github.com/koobh/align
[submodule "algorithm/OverIVA_Clique_RLS"]
	path = algorithm/OverIVA_Clique_RLS
	url = https://github.com/hido710/OverIVA_Clique_RLS
[submodule "lib/KWidgetASR"]
	path = lib/KWidgetASR
	url = https://github.com/koobh/KWidgetASR
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "algorithm/AEC_BF_loopback"]
	path = algorithm/AEC_BF_loopback
	url = https://github.com/koobh/AEC_BF_loopback
